# Core Dependencies
pandas
pandas-ta
Backtesting
yfinance
python-dotenv
ollama
pydantic
hurst
openai
pyarrow
tqdm
jinja2
tenacity
statsmodels
typer
rich
shellingham
markdown-it-py
mdurl
click

# Development & Testing
pytest
mypy
asteval
